<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<% @list.bookmarks.each do |bookmark|%>
  <ul>
    <p><%= bookmark.comment %></p>
    <p><%= bookmark.movie.title %></p>
    <li class="list-group-item">
      <%= link_to "Delete",
      bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </li>
  </ul>
<% end %>
